*.h5
__pycache__
.ipynb_checkpoints
.DS_Store
.vscode/
*.pyc
*.pwd
/.p*
/data
*.log
t
dask-worker*
robs_output*
.idea
*.so
*.c
*.html
build
*.swp
/queue
/py/opdata_import
*.feather
hide
